
    <h2>Bakgrund</h2><!--Använder h2 då jag använder h1 till Emma Nilsson rubriken-->
    <h3>Uppväxt</h3>
    <p>Föddes år 1992 utanför den lilla byn Åtorp. Växte upp på en bondgård vid namn Lerbrotorp. Två syskon varav en syster och en bror. </p>
    <h3>Högstadiet</h3>
    <p>Från 7:an till 9:an gick jag på Stora Valla skolan i Degerfors.</p>
    <h3>Gymnasium</h3>
    <p>Estetiska programmet med inriktning dans. Gick på Brogårdsgymnasiet i Kristinehamn.</p>
    <h3>Efter studenten</h3>
    <p>Sommaren 2011 spenderades på Kronhallen i Degerfors. Hösten flyttade jag tillsammans med sambo Anton till Norge och jobbade på flygplats. Våren 2012 flyttade jag till London och jobbade som servitris och bartender. Sommaren 2012 spenderades på Kronhallen. Hösten flyttade jag till Kristinehamn och jobbade först på ICA nära ulvsby på ett vikariat. Bytte sedan till Telias kundtjänst. Våren 2013 åkte jag på tre månaders äventyr i Australien och Nya Zeeland. Sommaren 2013 Jobbade jag på min tredje ICA-affär, denna gång i Karlstad. Hösten började jag studera Medie- och kommunikationsvetenskap på Karlstads universitet, där jag fortfarande är kvar idag.</p>