<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Emma Nilsson</title>
    <meta name="description" content="Livet som Emma">
    <link rel="stylesheet" href="main.css">
</head>
    <body>
        <h1>Emma Nilsson</h1>
        <ul class="menu">
            <li class="bakgrund"><a href="bakgrund">Bakgrund</a>
            </li>
            <li class="cv"><a href="cv">CV</a>
            </li>
            <li class="kontakt"><a href="kontakt">Kontakt</a>
            </li>
            
        </ul>
        <div class="content">{{content}}</div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.js"></script>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/localization/messages_sv.js"></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>